body{
    font-size: 15px;
    font-family: monospace;
}

#container{
    margin : 20px auto;
    background-color: white;
    height: 600px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
}
#startbtn{
    font-size: 1.5em;
    font-weight: bolder;
    word-break: break-all;
    width:110px;
    height:35px;
    border : 2px solid lightgrey;
    text-align: center;
    cursor: pointer;
    position: absolute;
    left:290px;
    top:520px;
    color : lightgrey;
}

p {
    margin-left: 20px;
    margin-right: 20px;
}

ul {
    margin-right: 20px;
}

h2 {
    margin-left: 20px;
}
#startbtn:hover{
    border: 3px solid lightseagreen;
    color : lightseagreen;
}

#qImg{
    width : 200px;
    height : 200px;
    position: absolute;
    left : 0px;
    top : 0px;
}
#qImg img{
    width : 200px;
    height : 200px;
    border-top-left-radius: 5px;
}

#question{
    width:500px;
    height : 215px;
    margin-top: 55px;
    position: absolute;
    right:0;
    top:0;
}
#question p{
    margin : 0;
    padding : 15px;
    font-size: 1.25em;
}

/*#circle{
    margin-top: 55px;
    margin-right: 305px;    
    position: absolute;
    right:0;
    top:0;
}*/

#choices{
    width:500px;
    height : 215px;
    margin-top: 505px;
    position: absolute;
    right:0;
    top:0;
}
.choice{
    display: inline-block;
    width : 135px;
    text-align: center;
    border : 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    padding : 5px;
}
.choice:hover{
    border : 2px solid grey;
    font-weight: bold;
}

#choicesv{
    width:500px;
    height : 215px;
    margin-top: 505px;
    position: absolute;
    right:0;
    top:0;
}
.choicev{
    display: inline-block;
    width : 235px;
    text-align: center;
    font-size: 15px;
    border : 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    padding : 5px;
}
.choicev:hover{
    border : 2px solid grey;
    font-weight: bold;
}

#timer{
    position: absolute;
    height : 100px;
    width : 200px;
    bottom : 0px;
    text-align: center;
}
#counter{
    font-size: 1em;
}

#countertwo{
    font-size: 1em;
}
/*#btimeGauge{
    width : 150px;
    height : 10px;
    border-radius: 10px;
    background-color: lightgray;
    margin-left : 25px;
}
#timeGauge{
    height : 10px;
    border-radius: 10px;
    background-color: mediumseagreen;
    margin-top : -10px;
    margin-left : 25px;
}*/
#progress{
    width : 500px;
    position: absolute;
    bottom : 0px;
    right : 0px;
    padding:5px;
    text-align: right;
}
.prog{
    width : 25px;
    height : 25px;
    border: 1px solid #000;
    display: inline-block;
    border-radius: 50%;
    margin-left : 5px;
    margin-right : 5px;
}
#scoreContainer{
    margin : -20px auto;
    background-color: white;
    height: 600px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: absolute;
    display: none;
}

#responseContainer1{
    margin : -20px auto;
    background-color: white;
    height: 600px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: absolute;
    display: none;
}

#responseContainer14{
    margin : -20px auto;
    background-color: white;
    height: 600px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: absolute;
    display: none;
}

#responseContainer9{
    margin : -20px auto;
    background-color: white;
    height: 600px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: absolute;
    display: none;
}

#responseContainer11{
    margin : -20px auto;
    background-color: white;
    height: 600px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: absolute;
    display: none;
}

#responseContainer3{
    margin : -20px auto;
    background-color: white;
    height: 600px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: absolute;
    display: none;
}

#responseContainer18{
    margin : -20px auto;
    background-color: white;
    height: 600px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: absolute;
    display: none;
}

#end{
    margin : -20px auto;
    background-color: white;
    height: 600px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: absolute;
    display: none;
}

#repeat {
    position: absolute;
    display: block;
    width : 359px;
    height :359px;
    top:230px;
    left:170px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.container {
  display: block;
  width: 756px;
  height: 756px;
  overflow: hidden;
  position: relative;
      margin-top: -130px;
    margin-right: -20px;    
    position: absolute;
    right:0;
    top:0;
}

#circle {
  display: block;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}